.text-dark-grey {
  color: rgb(0, 13, 82);
}

.font-bold {
  font-weight: 900;
}

.key {
  font-weight: 600;
  color: rgb(65, 64, 64);
}

.font-bold.text-dark-grey.papaya {
  color: orangered;
  font-size: 150px;
}

.font-bold,
.text-dark-grey,
.papaya {
  color: indigo;
  font-size: 25px;
}
.centered_text_h1 {
  margin: 50px;
  border: 40px;
  padding: 90px;
  content: normal;
}
.centered_text_h2 {
  margin: 50px;
  border: 40px;
  padding: 90px;
  content: normal;
}
.centered_text_h3 {
  margin: 50px;
  border: 40px;
  padding: 90px;
  content: normal;
}
.centered_text_h4 {
  margin: 50px;
  border: 40px;
  padding: 90px;
  content: normal;
}
.p_changes {
  margin: 50px;
  border: 40px;
  padding: 90px;
  content: normal;
}
.span_changes {
  margin: 50px;
  border: 40px;
  padding: 90px;
  content: 20pxs;
}
